@import "blocks/vars";
@import "node_modules/bootstrap/scss/bootstrap";

* {
  font-size: 16px;
  font-family: "Acrobat Light", sans-serif;
  font-weight: 400;
}

html {
  a {
    color: #24363c;
  }
  a:hover {
    text-decoration: none;
    color: #24363c;
  }
}

img {
  width: 100%;
  height: auto;
}

.orangeHover {
  transition: .5s;
  :hover {
    transition: .5s;
    color: $hoverLinks;
  }
}

@import "blocks/header";
@import "blocks/swipers";
@import "blocks/wrapper";
@import "blocks/fields";
@import "blocks/riders";
@import "blocks/footer";
@import "blocks/news";
@import "blocks/aside";
@import "blocks/botNews";
@import "blocks/single";
@import "blocks/kratko";
@import "blocks/lane";
@import "blocks/archive";
@import "blocks/sharing";
@import "blocks/reklama";
@import "blocks/cookie";
@import "blocks/form";
@import "blocks/animation";