@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@font-face {
    font-family: 'Acrobat';
    src: url("fonts/Akrobat-Light.otf") format("opentype"), 
        url("fonts/AkrobatLight.eot") format("embedded-opentype"),
         url("fonts/AkrobatLight.woff2") format("woff2"),
         url("fonts/AkrobatLight.woff") format("woff"),
         url("fonts/AkrobatLight.ttf") format("truetype"),
         url("fonts/AkrobatLight.svg#AkrobatLight") format("svg");
}
*{
font-family:
  'Acrobat','Roboto','Arial', sans-serif;
}