.news {
  &__one {
    margin-bottom: 2rem;
    //:first-child {
    //  margin-bottom: .5rem;
    //}
  }
  &__cat {
    background-color: $footerBack;
    color: white;
    padding: 3px 10px;
    text-transform: uppercase;
    font-size: 13px;
    margin-right: 10px;
  }
  &__cat:hover {
    color: white;
  }
  &__date {
    font-size: 13px;
    font-weight: 500;
  }
  &__title {
    margin-top: .5rem;
    font-size: 1.5rem;
    font-family: "Roboto Bold", sans-serif;
    line-height: 1.5rem;
  }
  &__excerpt {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
  &__breadcrumbs {
    margin-bottom: 1rem;
    padding-bottom: .2rem;
    border-bottom: 1px solid rgba(115,134,141,.8);
    a, span {
      margin-right: 7px;
      color: rgba(115,134,141,.8);
      font-size: 14px;
    }
  }
}
.loadmore {
  width: 100%;
  background-color: $footerBack;
  color: white;
  border: none;
  padding: .5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.sticky {
  margin-top: 32px;
}
.sticky.stickyKratko {
  border: 2px solid $hoverLinks;
  box-shadow: inset 0 0 6px 4px rgba(0,0,0,0.31);
  margin-bottom: 2rem;
  .wrapper__botCol {
    padding: 15px 0;
    .col div {
      //box-shadow: 0px 0px 6px 4px rgba(0,0,0,0.31);
    }
  }
}
.sticky.stickyNews {
  border-top: 3px solid orange;
  padding-top: 10px;
  border-bottom: 3px solid orange;
  margin: 2rem 15px 0 15px;
}




@media (max-width: 576px) {
  .news {
    &__excerpt {
      display: none;
    }
    &__one > div {

        margin-bottom: .5rem;

    }
  }
}