.single {
  &__title {
    font-weight: 800;
    margin-bottom: 1rem;
    font-family: "Roboto Medium", sans-serif;
    color: #0b1538;
    font-size: 1.6rem;
  }
  &__date, &__breadcrumbs a {
    font-family: "Roboto Regular", sans-serif;
  }
  &__date, &__breadcrumbs a, span {
    color: rgba(115,134,141,.8);
    font-size: .8rem;
  }
  &__separator {
    margin: 0 1rem;
  }
  &__date {
    border-bottom: 1px solid rgba(115,134,141,.8);
    padding-bottom: .2rem;
  }
  &__main {
    margin-top: 2rem;
    > img {
      margin-bottom: 1rem;
    }
  }
  &__text.dates {
    margin-bottom: 2rem;
    p {
      margin-bottom: .5em;
    }
  }
  &__text {
    .wp-polls {
      margin-bottom: 2rem;
    }
    .wp-polls-loading {
      display: none;
    }
    .wp-polls-ul {
      strong {
        i {
          font-size: 1.2rem;
          font-weight: 600;
        }
      }
      list-style-type: none;
      padding-left: 0;
      p {
        margin-bottom: 0;
      }
      .res__bar, .pollbar {
        background: #88c6e8;
        margin-bottom: .7rem;
        height: 15px;
      }
      .res__res, .res__name {
        color: #3f4e55;
        font-size: 1rem;
        line-height: 1.2em;
      }
    }
    .wp-polls-ans {
      p:last-child {
        display: none;
      }
    }
    p, a, strong, h3 {
      font-size: 1.2rem;
      line-height: 1.5em;
      color: #3f4e55;
      margin-bottom: 2em;
    }
    h2 {
      font-weight: 600;
      font-size: 1.4rem;
      color: #1d2953;
      margin-bottom: .5em;
      font-family: "Roboto Regular", sans-serif;
    }
    h3 {
      font-weight: 600;
      font-size: 1.5rem;
      margin-bottom: .5em;
    }
    h4 {
      font-size: 1.4em;
      color: #1d2953;
      margin-bottom: 1em;
      font-weight: 600;
    }
    h5 {
      font-size: 1.3em;
      color: #1d2953;
      margin-bottom: 1em;
      font-weight: 600;
    }
    a {
      color: #062b33;
      text-decoration: underline;
    }
    figure.alignright {
      float: right;
      width: 250px;
      margin-left: 1rem;
    }
    figure.alignleft {
      float: left;
      width: 250px;
      margin-right: 1rem;
    }
    figcaption {
      color: #485156;
      caption-side: bottom;
      font-size: .8rem;
    }
    ul{
      padding-left: 15px;
      li {
        font-size: 1.2rem;
        padding-left: 1rem;
      }
    }
    ol {
      li {
        font-size: 1.2rem;
        padding-left: 1rem;
        margin-bottom: .5rem;
      }
    }
    blockquote {
      border-left: 2px solid #0b1538;
      padding-left: 1.5em;
    }
  }
}

.singleSticky {
  &__text {
    font-size: 1.1rem;
    display: block;
    position: absolute;
    z-index: 10;
    left: 0;
    width: 100%;
    min-height: 70px;
    background-color: rgba(12,12,12,.7);
    color: #fff;
    box-sizing: border-box;
    padding: 10px;
    text-transform: uppercase;
    margin: 0;
    bottom: 0;
  }
}