
$menuAColor:#485156;
$menuAColorHover:#06232c;
$footerBack:#24363C;
$hoverLinks: #f90;

//@font-face {
//  font-family: "Acrobat";
//  font-style: normal;
//  font-weight: 300;
//  src: url("fonts/Akrobat.woff2");
//  font-display: swap;
//}

@font-face {
  font-family: "Acrobat";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/Akrobat-light.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Acrobat Light";
  font-style: normal;
  font-weight: 200;
  src: url("./fonts/Akrobatlight.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Acrobat extra light";
  font-style: normal;
  font-weight: 200;
  src: url("./fonts/Akrobatextralight.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Roboto Medium";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/Roboto-Medium.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/Roboto-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Roboto Bold";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/Roboto-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Roboto Thin";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/Roboto-Thin.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Roboto Italic";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/Roboto-Italic.ttf");
  font-display: swap;
}