.wrapper {
  .container-xl > div {
    margin: 0;
  }
  .bug {
    margin-bottom: 1.5rem;
  }
  .Swrow {
    margin: 0;
  }

  margin-top: 28px;
  .foxy {
    margin-bottom: 35px;
  }

  &__adSpecialImg, &__adImg, &__adSmallImg {
    width: 250px;
    margin: 0 auto;
    min-width: 250px;
  }
  &__adSpecialImg {
    height: 150px;
  }
  &__adImg {
    height: auto;
  }
  &__adSmallImg {
    height: 125px;
  }
  &__adText {
    display: flex;
    flex-direction: column;
    color: #24363c;
    text-decoration: none;
    font-size: 14px;
  }
  &__title {
    border-bottom: 2px solid black;
    font-size: 1.4rem;
    display: flex;
  }
  &__title.title-top {
    margin-bottom: 1.5rem;
    font-weight: 700;
  }
  &__topCol {
    display: flex;
    flex-direction: column;
    font-size: 1.4em;
  }
  &__text {

    p {
      transition: .5s;
      font-size: .95rem;
      line-height: 1.1rem;
      margin-bottom: 0;
      font-family: 'Roboto Regular', 'Acrobat Light', sans-serif;
    }
    p:not(:first-child) {
      margin-top: 1.5rem;
    }
    p:first-child {
      margin-top: .5rem;
    }
    span {
      font-size: .75rem;
      color: darken(white, 15%);
      text-align: right;
      display: block;
      margin-bottom: 1rem;
    }
  }
  &__text:hover {
    text-decoration: none;
  }
  &__trpl {
    img {
      width: 100%;
      height: auto;
    }
    span {
      color: white;
      position: absolute;
      left: 15px;
      top: 0;
      background-color: #24363c;
      padding: 3px 10px;
      font-size: .9rem;
      text-transform: uppercase;
    }
  }
  &__trplText {
    margin-top: 5px;
    font-size: 1rem;
    font-family: "Roboto Regular", sans-serif;
  }

  &__mainthemes {
    margin-top: 2rem;
    span {
      display: flex;
      width: 100%;
      margin-bottom: 2rem;
      border-bottom: 2px solid #829faa;
      color: #829faa;
      padding-bottom: 5px;
    }
    ul {
      column-count: 4;
      column-gap: 0;
      column-rule: 2px solid #829faa;
      margin-bottom: 2rem;
      list-style: none;
      border-left: 2px solid #829faa;
      padding: 0;
      li {
        margin: 0;
        padding: 0 0 0 10px;
        a {
          color: #829faa;
          font-size: .84rem;
          font-family: "Roboto Regular", sans-serif;
        }
      }
    }
  }
  .grader {
    padding: 15px;
    background-color: #dde5e8;
    strong {
      color: #24363c;
      font-size: 1.3rem;
      font-family: "Acrobat", sans-serif;
      font-weight: 700;
    }
    p {
      color: #24363c;
      font-size: 1.2rem;
      margin: 0;
    }
  }
}

.long-ad {
  img {
    max-width: 728px;
    width: 100%;
    height: auto;
    margin: 1rem 0;
  }
}

@media (max-width: 1200px) {
  .wrapper {
    &__title {
      margin-top: 1rem;
    }
  }
}

@media (max-width: 768px) {
  .wrapper {
    &__trpl {
      margin-bottom: 2rem;
      position: relative;
      span {
        left: 0;
      }
    }
    &__trplText {
      position: absolute;
      bottom: 0;
      background-color: rgba(12,12,12,.7);
      width: 100%;
      color: white;
      margin: 0;
      padding: 10px;
      font-size: 1.3rem;
    }
    &__mainthemes {
      ul {
        column-count: 2;
      }
    }
  }
}

@media (max-width: 576px) {
  .long-ad {
      margin: 1rem 15px;
  }
}